.entry {
    display: grid;
    grid-template: auto auto / 1fr auto;
    grid-gap: 15px;
}

.term {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.removeButton {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.notes {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
