.entry + .entry {
	margin-top: 70px;
}

.header {
	font-weight: 700;
	color: rgba(0, 0, 0, 0.85);
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 14px;
}

.subHeader {
	font-weight: 700;
	color: rgba(0, 0, 0, 0.85);
	margin-top: 22px;
	margin-bottom: 9px;
}

.etymology {
	color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 22px;
}

.senseList {
    margin: 0 28px;
    padding-left: 0;
}

.senseList > li + li {
    margin-top: 12px;
}

.paragraph {
	margin-top: 12px;
	margin-bottom: 12px;
}

.examples {
	color: rgba(0, 0, 0, 0.6);
}