.navigationBar {
    background: rgba(0, 0, 0, 0.15);
}

.tabs {
    height: 40px;
    display: flex;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fff;
    text-decoration: none;
}

.tab:not(.activeTab) {
    background: var(--color-brand-primary);
}

.entryList {
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}

.entry {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    min-height: 50px;
}

.entry h3 {
    margin-top: 0;
}

.entry p {
    margin-bottom: 0;
}

.entry + .entry {
    margin-top: 20px;
}
