.navigationBar {
    background: rgba(0, 0, 0, 0.15);
}

.entryList {
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}

.entry {
    display: grid;
    grid-template: auto auto / 1fr auto;
    grid-gap: 15px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    min-height: 50px;
}

.entry h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
}

.entry a {
    color: hsl(202, 100%, 37%);
    text-decoration: none;
}

.entry button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.entry p {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

.entry + .entry {
    margin-top: 20px;
}
