.form {
    --icon-left: 1em;
    --icon-size: 1.1em;

    position: relative;
    font-size: 18px;
}

.queryInput {
    --vertical-padding: 0.8em;
    --line-height: 1em;

    padding:
        var(--vertical-padding)
        var(--icon-left)
        var(--vertical-padding)
        calc(var(--icon-left) + var(--icon-size) + 0.8em);
    border-radius: calc(var(--vertical-padding) + var(--line-height));
    width: 100%;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: inherit;
    line-height: var(--line-height);
}

.icon {
    position: absolute;
    left: var(--icon-left);
    top: 50%;
    transform: translateY(-50%);
    width: var(--icon-size);
    fill: var(--color-text-secondary);
}
