.container + .container {
    margin-top: 22px;
}

.header {
    font-weight: 700;
    color: var(--color-text-header);
    margin-top: 0;
    margin-bottom: 9px;
}

.term {
    margin-top: 0;
    margin-bottom: 16px;
}

.senses {
    margin: 0 28px;
    padding-left: 0;
}

.senses > li + li {
    margin-top: 12px;
}
