.header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 0 16px;
    cursor: pointer;
}

.title {
    flex: 1;
}

.expandableContent {
    padding: 24px 16px 70px;
    border-top: 1px solid #e9ebed;
}