.entriesList {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.entriesList > li + li {
    margin-top: 30px;
}

.term {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #222;
}

.etymology {
    font-size: 0.8em;
    color: #777;
}

.sensesList {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}

.sensesList > li + li {
    margin-top: 20px;
}

.subEntriesList > li + li {
    margin-top: 10px;
}

.sensesList > li:only-child {
    list-style-type: none;
    margin-left: -25px;
    margin-right: -25px;
}

.definition {
    font-weight: 600;
}

.examples {
    color: #555;
}

.subDefinitionContainer {
    margin-top: 20px;
    font-size: 0.9em;
    border-left: 2px solid #565656;
    background: #f7f7f7;
    padding: 5px 10px;
}

.subDefinition {
    font-weight: 600;
}

.subDefinitionExamples {
    color: #404040;
}

.subEntriesList {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
}

.subEntryTerm {
    font-weight: 600;
}

.link {
    color: rgb(0, 121, 191);
    text-decoration: none;
}
