.definition {
    color: rgba(34, 34, 34, 0.8);
}

.examples {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    color: rgba(34, 34, 34, 0.6);
    list-style-type: none;
}

.examples > li {
    margin-top: 2px;
}
