.innerContainer {
    min-width: 500px;
    max-width: 500px;
    display: grid;
    grid-template: auto 32px / auto 80px 80px;
    grid-gap: 24px;
}

.notes {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.cancel {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ok {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
