.container :global(.tyding) {
    margin-left: 14px;
    text-indent: -14px;
}

.container :global(.doemeliste) {
    margin-left: 0;
    text-indent: 0;
}

.container :global(.oppslagsord) {
    font-weight: bold;
}

.container :global(.artikkeloppslagsord) {
    font-size: 100%;
    font-weight: bold;
}
