b,
strong {
    font-weight:bold
}

.use-with-mention,
.form-of-definition {
    font-style:italic
}

.form-of-definition-link {
    font-style:normal
}

.use-with-mention .mention,
.form-of-definition-link .mention {
    font-style:normal;
    font-weight:bold
}

.gender,
.number,
.noun-class {
    font-style:italic
}

.mention {
    font-style:italic
}
