.container b,
.container strong {
  font-weight: bold;
}

.container :global(.use-with-mention),
.container :global(.form-of-definition) {
  font-style: italic;
}

.container :global(.form-of-definition-link) {
  font-style: normal;
}

.container :global(.use-with-mention) :global(.mention),
.container :global(.form-of-definition-link) :global(.mention) {
  font-style: normal;
  font-weight: bold;
}

.container :global(.gender),
.container :global(.number),
.container :global(.noun-class) {
  font-style: italic;
}

.container :global(.mention) {
  font-style: italic;
}
