.entriesList {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.entriesList > li + li {
    margin-top: 30px;
}

.entryHeader {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #222;
}

.etymology {
    font-size: 0.8em;
    color: #777;
}

.subEntryHeader {
    display: flex;
    margin-top: 1.5em;
}

.type {
    font-weight: 600;
    margin-right: 20px;
}

.term {
    flex: 1;
}

.sensesList {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
}

.sensesList > li + li {
    margin-top: 10px;
}

.examplesList {
    list-style-type: none;
    padding-left: 0;
    color: #555;
}

.wordListTitle {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}
