.container {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.unavailable {
    opacity: 0.8;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    min-height: 70px;
}

.title {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.error {
    height: 30px;
}

.content {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.hideButton {
    width: 100%;
    background: none;
    color: #666;
    border: none;
    border-top: 1px solid #eee;
    height: 3em;
    margin-top: 30px;
}
