.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container + .container {
    margin-top: 50px;
}

.title {
    flex: 1;
}

.showContentButton {
    height: 40px;
}

.content {
    width: 100%;
}
