.container {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.unavailable {
    opacity: 0.8;
}

.container + .container {
    margin-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
}

.title {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
