.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 16px;
    min-height: 60px;
}

.clickableHeader:hover {
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text-header);
    margin-top: 0;
    margin-bottom: 0;
}

.chevron {
    width: 14px;
    height: 6px;
    transition: transform 0.3s ease-out;
}

.openChevron {
    transform: rotate(180deg);
}

.error {
    height: 30px;
}
