.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 3px 10px;
}

.queryInput {
    flex: 1;
    border: none;
    height: 90%;
}

.submitButton {
    flex: 0;
    height: 80%;
    margin-left: 10px;
}
