.container + .container {
    margin-top: 70px;
}

.header {
    color: var(--color-text-header);
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
}

.etymology {
    color: var(--color-text-secondary);
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 22px;
}
