.searchBar {
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
}

.searchBox {
    font-size: 16px;
}

.content {
    max-width: 800px;
    padding: 20px 10px 30px;
    margin-left: auto;
    margin-right: auto;
}
