.container {
	display: flex;
	align-items: center;
}

.star {
	height: 20px;
}

.star > polygon {
    fill: var(--color-brand-secondary-dark);
}

.chevron {
	height: 12px;
	margin-left: 10px;
	stroke: var(--color-text-secondary);
}
