.container {
    padding: 12px 16px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-left: 3px solid #4091bf;
    background: #ecf4f9;
}

.definition {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 6px;
}

.examples {
    color: rgba(0, 0, 0, 0.6);
}
