.container {
    padding: 12px 16px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-left: 3px solid var(--color-brand-secondary);
    background: var(--color-brand-secondary-light);
}

.definition {
    font-weight: 700;
    margin-bottom: 6px;
}

.examples {
    color: var(--color-text-secondary);
}
